@import "normalize.css";

:root {
  --medium-purple: #7759F3;
  --light-gray: #e7dddd;
  --neon-aqua: #3AFCC2;
  --royal-purple: #8E2AC3;
  --sunflower-yellow: #E0C566;
  --rose-pink: #E8D6C4;
  --hot-pink: #ED4E95;
  --black: #000000;
  --almost-black: #130518;
  --medium-green: #12A74B;
  --turquoise: #82D6C9;
  --lavendar: #9E8FDF;
  --light-lavendar: #CDB3ED;
  --yellow-tan: #D6BF9E;
  --muted-pink: #DE7F9C;
  --medium-pink: #F2B6C7;
  --candy-orange: #F8B483;
  --white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Inter";
  color: white;
  background: url("images/top_squiggly.svg") top no-repeat, linear-gradient(151deg, #1E0426 2.97%, #100C3A 25.62%, #130517 51.04%, 
  #050130 72.12%, #0A0426 91.18%);
  background-size: 120%;
  /* height: 100vh; */
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.wrapper  {
  max-width: 107.5rem;
  margin: 0 auto;
  padding: 1rem 4rem;
  gap: 2rem;
}


/* Buttons */


.btn {
  border-radius: .313rem;
  color: var(--white);
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.btn.walletconnect {
  padding: 1.25rem 2rem;
  background: var(--medium-purple);
}

.btn.mintNFT {
  padding: 1.25rem 2.5rem;
  background: var(--royal-purple);
}

.btn.search {
  width: 3rem;
  height: 3rem;
  border: none;
  font-size: 2rem;
  background: var(--medium-purple);
}

.btn.subscribe {
  font-size: 2rem;
  border: none;
  background: var(--medium-purple);
  width: 4rem;
  height: 4rem;
  line-height: normal;
}


/* Header */


header {

  /* height: 5vh; */
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 1rem;
}

nav .logo img {
  width: 13rem;
  height: 3.313rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.75rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
}

nav input {
  border-radius: 0.313rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.03);
  outline: none;
  width: 14.063rem;
  height: 3rem;
  padding: 1.25rem;
  color: var(--light-gray);
  /* align-items: center; */
  vertical-align: bottom;
}

nav input::placeholder {
  color: var(--light-gray);
}
/* Hero Section */

.hero-section {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 3em;
}

.hero-section .left {
  display: flex;
  /* max-height: 16.25rem; */
  flex-direction: column;
  align-items:flex-start;
  gap: 1.813rem;
  flex-shrink: 0;
  margin-bottom: 3.125rem;
}

.hero-section .left h1 {
  font-size: 4.375rem;
  margin-bottom: 0.625rem;
  font-weight: 400;

}

.hero-section .left p {
  font-size: 1.2rem;
  color: var(--light-gray);
  margin-bottom: 3rem;
}

.hero-section > .left, .right {
  flex: 1;
}

.hero-section .right {
  display: flex;
  /* max-height: 35.625rem; */
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  margin: auto 3.75rem;
  flex-wrap: wrap;
  text-align: center;
}

.hero-section .right img {
  /* max-width: 15.5rem;
  max-height: 17.75rem; */
}

/* White Paper Section */

.whitepaper-section .wrapper {
  padding: 0 8.65%; 
}

.whitepaper-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.whitepaper-section .top {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  margin-bottom: 10.375rem;
}

.whitepaper-section .top a {
  font-weight: bold;
}

.whitepaper-section .top h1 {
  font-size: 2rem;
  font-weight: 500;
  align-self: stretch; 
  height: 2.25rem; 
  text-align: center; 
  color: var(--white);  
  line-height: 1.5rem; 
  word-wrap: break-word;
}

.whitepaper-section .top p {
  color: var(--light-gray);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem; 
}

.whitepaper-section .top p a {
  /* text-decoration: none; */
  color: var(--light-gray);
}

.whitepaper-section .bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem; 
  margin-bottom: 2rem;
}

.whitepaper-section .bottom h1 {
  font-size: 1.8vw;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  margin: 0;
}

/* .whitepaper-section .subscribe-box {
  width: 400%;
} */

.whitepaper-section form {
  display: inline-flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  gap: 5%; /* Adjust the gap as needed */
}

.whitepaper-section .bottom input {
  height: 4rem; /* Ensure the input takes full width below 1345px */
  width: 30rem;
  font-size: 1.2rem;
  border-radius: 0.313rem;
  /* border: 1px solid rgba(255, 255, 255, 0.07); */
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.03);
  color: var(--light-gray);
  text-align: center;
  outline: none;
}

.whitepaper-section .bottom input::placeholder {
  color: var(--light-gray);
}

.whitepaper-section .bottom .btn.subscribe {
  flex-shrink: 1; /* Allow elements to shrink as needed */
}

.fullscreenpurpleSideBar {
  width: 0.625rem;
  height: 4rem;
  flex-shrink: 0;
}

.smallscreenpurpleSideBar {
  visibility: hidden;
}

.brnodisplay {
  visibility: hidden;
}

.subscribe-box {
  display: flex;
  height: 4rem;
}

.purple-bar {
  width: 70%;
  height: 1.8rem; /* Adjust the height as needed */
  margin-top: 3.75rem;
}


/* About Us Section */


.aboutus-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem auto;
  max-width: 81.25rem;
}

.aboutus-section .left {
  height: 24.5rem;
  align-items: center;
}
.aboutus-section > .left {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutus-section > .right {
  flex: 2;
}

.aboutus-section .left .logo {
  max-width: 13rem; /* Adjust this value as needed */
  align-items: center; /* Center the logo */
  /* margin-bottom: 6rem;  */
}

.ipadBiglogo {
  visibility: hidden;
}

.aboutus-section .left .logo img {
  width: 100%; /* Ensure the image takes the full width of the container */
  height: auto;
}

.aboutus-section .left .fullscreensocial ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus-section .left .fullscreensocial ul li {
  flex: 1;
  margin-right: 1.5rem;
}

.aboutus-section .left .fullscreensocial img {
  height: 1.7rem;
  width: auto;
}

.aboutus-section .right {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutus-section .right h1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3.75rem;
}

.aboutus-section .right p {
  color: var(--light-gray);
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  word-wrap: normal;
  text-align: justify;
}

.aboutus-section .joinus {
  font-weight: 700;
  font-size: 1rem;
}

.smallscreensocial {
  visibility: hidden;
}

/* Footer Section */

.wrapper-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--almost-black);
}

/* .wrapper  {
  max-width: 107.5rem;
  margin: 0 auto;
  padding: 1rem 4rem;
  gap: 2rem;
} */

.footer-section {
 width: 90%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  min-height: 2rem;
  max-height: 10rem;
  /* text-align: center; */
  margin: 0 4rem;
  font-size: 1rem;
  /* margin-bottom: 6.75rem; */
}

.footer-section .left {
 flex: 1;
}

.footer-section .left ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
}

.footer-section .left li {
  margin: 0 2rem;
  white-space: nowrap;
}

.footer-section .left ul li a {
  text-decoration: none;
  color: var(--light-gray);  
}

.footer-section .right {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  
}





/* 1345px Display Settings */





@media(max-width: 1345px) {
  header {
    height: 15vh;
    width: 100%;
  }

  .btn.walletconnect {
    display: inline-flex;
    padding: 0.813rem 1.313rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }

  .btn.search {
    width: 2.375rem;
    height: 2.735rem;  
  }

  .btn.mintNFT {
    width: 9.375rem;
    height: 3.625rem;
    flex-shrink: 0;
    font-size: 1rem;
    padding: 1.25rem;
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 0;
  }

  .btn.subscribe {
    font-size: 2.5rem;
  }

  .wrapper {
    padding: 0 5.625rem;
  }

  nav {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
  }

  nav ul li a {
    font-size: 1rem;
  }

  nav .logo img {
    width: 13rem;
    height: 3.313rem;
  }

  nav input {
    width: 9.563rem;
    height: 1.75rem;
    font-size: 1rem;
    color: var(--light-gray);
  }
  
  nav ul {
    gap: 4.375rem;
  }

  nav ul form {
    display: flex;
    align-items: center;
  }

  .hero-section {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .hero-section .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    flex-shrink: 0;
    padding: 1rem;
  }

  .hero-section .left h1 {
    font-size: 3.25rem;
   
  }
  
  .hero-section .left p {
    font-size: 1.125rem;
    color: var(--light-gray);
    /* margin-bottom: 0; */
    margin: 0;
  }

  .hero-section .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
  }

  .hero-section .right img {
    max-width: 248px;
    max-height: 284px;
  }
  
  /* .whitepaper-section {
    height: 50%;
  } */
  .whitepaper-section .top h1 {
    font-size: 2rem;
    line-height: 1.5rem;
    height: 2.25rem;
    flex-shrink: 0;
    align-self: stretch;
    margin-top: 8.75rem;
  }
  
  .whitepaper-section .top p {
    margin-top: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    height: 64px;
    flex-shrink: 0;
    align-self: stretch;
  }
  
  .whitepaper-section .top p a {
    text-decoration: none;
    color: var(--light-gray);
  }
  


  .whitepaper-section .bottom {
    margin-top: 151px;
    margin-bottom: 30px;
    display: flex;
    max-width: 1041px;
    align-items: center;
    text-align: center;
    gap: 0;
  }
  
  .whitepaper-section .bottom h1 {
    font-size: 2vw;
    font-weight: 400;
    flex-shrink: 0;
    text-align: center;
    padding-right: 2rem;
  }
 
   .fullscreenpurpleSideBar {
    visibility: hidden;
  }

  .smallscreenpurpleSideBar {
    visibility: visible;
    width: 0.625rem;
    height: 4rem;
    margin-right: 0.625rem;
  }

  .whitepaper-section .bottom form {
    display: flex;
    margin-left: 1rem;
    width: 33rem;
    height: 4rem;
  }
  
  .purple-bar {
    margin: auto;
    width: 100%;
    margin-top: 60px;
  }

  .aboutus-section {
    display: flex;
    margin-top: 4rem;
    flex-shrink: 0;
  }

  .fullscreensocial {
    visibility: visible;
    display: flex;
    justify-content: space-between;
  }
  
  .smallscreensocial {
    visibility: hidden;
  }

  .fullscreensocial ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
  }

  .fullscreensocial ul li a {
    width: 1rem;
    height: 1rem;
  }

  .aboutus-section .right h1 {
    font-size: 1.25rem;
  }

  .aboutus-section .right p {
    font-size: 14px;
    text-align: justify;
  }

  .joinus {
    font-size: 11px;
  }

  .wrapper-footer  {

    background-color: var(--almost-black);
    padding: 0;
    text-align: center;
  }

  .footer-section .left {
    white-space: nowrap;
    font-size: 1rem;
    gap: 1.25rem;
  }

  .footer-section .right {
    white-space: nowrap;
    font-size: 1rem;
  }
}



/* 1100px Display Settings */




@media(max-width: 1100px) {

  /* .wrapper {
    padding: 0 80px;
  } */

  header {
    height: 3.75rem;
    margin-top: 2.25rem;
  }

  .btn.walletconnect {
    font-size: 0.75rem;
    width: 7.313rem;
    height: 2.3rem;
    font-weight: 400;
    text-align: center;
    flex-wrap: nowrap;
    padding: 0;
  }

  .btn.search {
    display: flex;
    width: 2.58rem;
    height: 2.58rem;
    font-size: 2rem; 
    align-items: center;
    padding: .7rem;
  }

  .btn-style {
    margin-left: 6.25rem;
  }

  .btn.mintNFT {
    display: flex;
    width: 7rem;
    height:3rem;
    font-size: 0.875rem;
    align-items: center;
    margin-bottom: 0;
    padding: 1.58rem;
  }

  .btn.subscribe {
    /* width: auto;
    height: auto; */
    font-size: 1.5rem;
  }

  .wrapper {
    padding: 0 5.5rem;
  }

  nav {
    margin-top: -2rem;
    display: flex;
    align-items: center;
    width: 100%;
  }

  nav ul {
    width: 100%;
    gap: 1.7rem;
  }

  nav ul li a {
    font-size: 0.875rem;
    font-weight: 600;
  }

  nav .logo img {
    width: 6.75rem;
    max-width:fit-content;
    height: 1.75rem;
  }

  nav input {
    height: 1.75rem;
    width: 9.25rem;
    font-size: 0.875rem;
    color: var(--light-gray);
    outline: none;
  }
  
  nav ul form {
    display: flex;
    align-items: center;
  }
  
  .nav-form {
    display: flex;
  }

  .hero-section {
    margin-top: 3.75rem;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
  }
  
  .hero-section .left {
    width: 100%;
    align-items: flex-start;
    gap: 1.063rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  .hero-section .left h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
  }
  
  .hero-section .left p {
    font-size: 1rem;
    color: var(--light-gray);
    margin-bottom: 0;
  }

  .hero-section .right {
    flex-wrap: nowrap;
  }

  .hero-section .right .girl {
    height: 16.375rem;
  }
  .hero-section .right .boy {
    height: 11.563rem;
  }
  
  .whitepaper-section {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
    align-items: center;
    flex-shrink: 0;
  }

  /* .whitepaper-section .top {
    margin-left: 13
  } */

  .whitepaper-section .top h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 6rem;
  }
  
  .whitepaper-section .top p {
    margin-top: 65px;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .whitepaper-section .top p a {
    text-decoration: none;
    color: var(--light-gray);
  }
  
  .whitepaper-section .bottom {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
  
  .whitepaper-section .bottom h1 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
  }

  .whitepaper-section .bottom input {
    font-size: 1rem;
    /* text-align: left; */
  }
 
.whitepaper-section .subscribe-box {
  width: 100%;
}


   .fullscreenpurpleSideBar {
    display: none;
  }

  .smallscreenpurpleSideBar {
    visibility: visible;
    width: 0.375rem;
    height: 4rem;
    /* margin-left: -20px; */
  }
 
  .purple-bar {
    visibility: hidden;
  }

  .aboutus-section {
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .aboutus-section > .left {
    height: 12rem;
  }

  .aboutus-section .left .logo img {
   visibility: hidden;
  }

.ipadBiglogo {
  visibility: visible;
  height: 93px;
  width: 357px;
}

  .fullscreensocial {
    visibility: hidden;
  }
  .smallscreensocial {
    visibility: visible;
    display: flex;
    margin-top: 6rem;
    justify-content: center;
    padding-left: 2rem;
  }

  .smallscreensocial ul {
    margin: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-inline-end: 40px;
    width: 80%;
  }

  .smallscreensocial > ul > li {
    flex: 1;
    justify-self:center;
  }

  .smallscreensocial img {
    min-width: 30px;
    min-height: 30px;
  }

  .aboutus-section .right {
    flex: 1;
    width: 100%;
    /* padding: 0 2.6rem; */
  }
  .aboutus-section .right h1 {
    font-size: 18px;
  }

  .aboutus-section .right p {
    font-size: 11px;
    text-align: justify;
  
  }

  .joinus {
    font-size: 11px;
  }

  .wrapper-footer  {

    background-color: var(--almost-black);
    /* height: 17.5rem; */
    padding: 0;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .footer-section .left {
    /* margin: 40px 100px; */
    white-space: nowrap;
    font-size: 14px;
    line-height: 28px; 
    gap: 20px;
  }
}


/* mobile - 720px - 360px - Display Settings */



@media(max-width: 720px) {

.btn-style {
  margin: 2rem;
  }

  .btn.search {
    width: 1px;
    height: 1px;
  }

  .btn.subscribe {
    width: 2rem;
  }

.wrapper {
  width: 100%;
  }


nav .logo img {
    width: 194px;
    height: 50px;
    margin-top: 40px;
  }

.nav-search {
    visibility: hidden;
    width: 0rem;
    }
  
nav {
    flex-flow: column-reverse nowrap;
    margin-bottom: 5rem;
    
    }

nav ul {
    justify-content: space-around;
    padding-inline-start: 40px;
    }

nav ul form {
  width: 1px;
}

  /*    Hero Section    */

.hero-section {
  margin-top: 10rem;
  min-width: 260px;
  max-width: 584px;
  height: 100vh;
  }

.hero-section > .left {
  max-height: 11.25rem; 
  }

.hero-section > .left > .hero-big h1 {
  font-size: 1.25rem;
  }

.hero-section > .left > .hero-mint {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.hero-section > .left > .hero-mint p {
  font-size: 0.75rem;
  }

.hero-section > .right {
  flex-wrap: wrap;
  /* max-height: 30rem; */
}

.hero-section > .right > .girl {
  max-width: 200px;
}

.hero-section > .right > .boy {
  max-width: 150px;
}


/*    WhitePaper Section    */

nav,
.whitepaper-section,
.aboutus-section,
.aboutus-section .left .fullscreensocial ul,
.aboutus-section .right {
  min-width: 260px;
  max-width: 584px;
}

.whitepaper-section > .top > h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.whitepaper-section > .top > p {
  font-size: 0.75rem;
}

.whitepaper-section > .bottom {
  flex-direction: column;
  width: 100%;
  padding: 0rem;
}

.whitepaper-section > .bottom > h1 {
  font-size: 1rem;
}

.whitepaper-section .subscribe-box {
  align-items: center;
}

.whitepaper-section .form {
  width: 80%;
}

.whitepaper-section .bottom {
 display: flex;
}

.whitepaper-section .bottom form {
  width: 100%;
  height: 2rem;
}

.whitepaper-section .bottom input, 
.smallscreenpurpleSideBar, 
.btn.subscribe {
  height: 2rem;
}

.whitepaper-section .bottom input {
  color: var(--white);
  text-align: center;
  width: 80%;
}

/*    AboutUs Section    */

.aboutus-section {
  align-items: center;
}

.aboutus-section .left .logo {
  max-width: 12.125rem;
}

.aboutus-section .left .logo img {
  visibility: visible;
}

.aboutus-section > .left > .ipadBiglogo {
  visibility: hidden;
  width: 1px;
}

.aboutus-section .right,
.aboutus-section .left .fullscreensocial ul,
.footer-section .left ul  {
  padding-inline-start: 0px;
}


.aboutus-section .right {
  padding: 0;
}

.smallscreensocial {
  visibility: hidden;
  margin-top: 0rem;
}

.fullscreensocial {
  visibility: visible;
}

/*    Footer Section    */

.wrapper-footer {
  height: 7rem;
  
}

.footer-section {
  /* padding: 0 0.5rem; */
  height: 7rem;
  justify-content: center;
  align-items: center;
}

.footer-section .left,
.footer-section .right {
  flex: 1;
  padding: 0 rem;
  margin: 0 auto;
}

.footer-section .left ul {
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.footer-section .left ul li a,
.footer-section .left, .footer-section .right {
  font-size: 0.875rem;
}

}