:root {
  --medium-purple: #7759F3;
  --light-gray: #C4C4C4;
  --neon-aqua: #3AFCC2;
  --royal-purple: #8E2AC3;
  --sunflower-yellow: #E0C566;
  --rose-pink: #E8D6C4;
  --hot-pink: #ED4E95;
  --black: #000000;
  --medium-green: #12A74B;
  --turquoise: #82D6C9;
  --lavendar: #9E8FDF;
  --light-lavendar: #CDB3ED;
  --yellow-tan: #D6BF9E;
  --muted-pink: #DE7F9C;
  --medium-pink: #F2B6C7;
  --candy-orange: #F8B483;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter";
  color: white;
  background: url("images/top_squiggly.svg") top no-repeat, 
  linear-gradient(151deg, #1E0426 2.97%, #100C3A 25.62%, #130517 51.04%, 
  #050130 72.12%, #0A0426 91.18%);
  background-size: 120%;
  height: 100vh;
  width: 100%;
  position: relative;
}

.wrapper  {
  max-width: 1720px;
  margin: 0 auto;
  padding: 16px 166px;
}

/* Buttons */

.btn {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.btn.walletconnect {
  padding: 20px 32px;
  background: var(--medium-purple);
}

.btn.mintNFT {
  padding: 20px 40px;
  background: var(--royal-purple);
}

.btn.search {
  padding: 12px;
  width: 48px;
  height: 48px;
  border: none;
  background: var(--medium-purple);
}

.btn.subscribe {
  padding: 4px 8px;
  font-size: 28px;
  border: none;
  background: var(--medium-purple);
  width: 72px;
  height: 72px;
}

/* Header */

header {

  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  /* max-width: 1520px; */
  top: 16px;
}

.logo {
  object-fit: scale-down;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

nav input {
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: rgba(255, 255, 255, 0.03);
  outline: none;
  width: 225px;
  height: 48px;
  padding: 20px;
  color: #706C83;
}

/* Hero Section */

.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 300px;
}

.hero-section .left {
  width: 756px;
}
.hero-section .left h1 {
  font-size: 70px;
  margin-bottom: 10px;
  font-weight: 400;

}

.hero-section .left p {
  font-size: 18px;
  color: #706C83;
  margin-bottom: 32px;
}

/* White Paper Section */

.Whitepapersection {
  width: 788px; 
  height: 131px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 32px; 
  display: inline-flex;
}


.whitepaper-section .top {
  text-align: center;
  margin-bottom: 156px;
}

.whitepaper-section .top h1 {
  font-size: 32px;
  font-weight: 500;
  align-self: stretch; 
  height: 35px; 
  text-align: center; 
  color: white;  
  font-family: Inter;  
  line-height: 24px; 
  word-wrap: break-word;
}

.whitepaper-section .top p {
  color: #706C83;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
}

.whitepaper-section .top p a {
  text-decoration: none;
  color: #706C83;
}

.whitepaper-section .bottom {
  display: flex;
  align-items: center;
}

.fullscreenpurpleSideBar {
  height: 70px;
}

.smallscreenpurpleSideBar {
  visibility: hidden;
}

.brnodisplay {
  visibility: hidden;
}

.whitepaper-section .bottom h1 {
  font-size: 32px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 36px;
}

.whitepaper-section .bottom input {
  width: 670px;
  height: 70px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: rgba(255, 255, 255, 0.03);
  text-align: center;
  margin-bottom: 67px;
}

/* About Us Section */

.aboutus-section {
  margin-top: 67px;
  display: flex;
  align-items: center;
  margin-bottom: 57px;
}

.aboutus-section .left {
  align-items: start;
}
.aboutus-section .left .logo {
  margin-left: 40px;
  margin-right: 110px;
  margin-bottom: 67px;
}

.aboutus-section .left .fullscreensocial ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-align: left;
  width: 208px;

  margin-left: 0;
}

.aboutus-section .left .fullscreensocial ul img {
  height: 28px;
}

.aboutus-section .right h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 60px;
}

.aboutus-section .right p {
  color: #706C83;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  word-wrap: normal;
  text-align: justify;
}

.smallscreensocial {
  visibility: hidden;
}

/* Footer Section */

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #130518;
  height: 80px;
  padding: 20px;
}

.footer-section .left ul {
  display: flex;
  gap: 50px;
  list-style: none;
  bottom: 106px;
}

.footer-section .left ul li a {
  text-decoration: none;
  color: #706C83;
  font-size: 16px;
}

/* iPad Display Settings */

@media(max-width: 1100px) {
  header {
    height: 650px;
  }
  .btn.walletconnect {
    width: 117px;
    height: 37px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
  }

  .btn.search {
    width: 28px;
    height: 28px;
    font-size: 16px;
    padding: 4px;
    
  }

  .btn.mintNFT {
    width: 97px;
    height:38px;
    font-size: 12px;
    padding: 13px;
    text-align: center;
    margin-top: 30px;
    margin-left: 364px;
    margin-bottom: 0;
  }

  .btn.subscribe {
    width: 39px;
    height: 39px;
    font-size: 24px;
  }

  .wrapper {
    padding: 0 90px;
  }

  nav {
    width: 100%;
    left: 0;
    right: 0;
  }

  nav ul li a {
    font-size: 10px;
  }

  nav .logo img {
    width: 104x;
    height: 27px;
  }

  nav input {
    width: 153px;
    height: 28px;
    font-size: 10px;
    color: #706C83;
    outline: none;
  }
  
  nav ul {
    gap: 30px;
  }

  nav ul form {
    display: flex;
    align-items: center;
  }

  .hero-section {
    display: block;
    margin-top: 54px;
    margin-bottom: 0;
  }
  
  .hero-section .left {
    width: 100%;
    display: block;
  }
  .hero-section .left h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
  
  }
  
  .hero-section .left p {
    font-size: 14px;
    color: #706C83;
    margin-bottom: 0;
  }

  .hero-section .right img {
    padding: 20px;
    gap: 28px;
  }

  .hero-section .right .girl {
    width: 268px;
    height: 301px;
    margin-left: 48px;
  }

  .hero-section .right .boy {
    width: 201px;
    height: 224px;
  }
  
  .whitepaper-section {
    margin-top: 120px;
  }
  .whitepaper-section .top h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 24px;
  }
  
  .whitepaper-section .top p {
    margin-top: 65px;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .whitepaper-section .top p a {
    text-decoration: none;
    color: #706C83;
  }
  
  .whitepaper-section .bottom {
    margin-top: 151px;
    display: block;
    text-align: center;
  }
  
  .whitepaper-section .bottom h1 {
    font-size: 18px;
    font-weight: 400;
    flex-shrink: 0;
    text-align: center;
  }
 
   .fullscreenpurpleSideBar {
    display: none;
  }

  .smallscreenpurpleSideBar {
    visibility: visible;
    width: 6px;
    height: 41px;
    margin-right: 23px;
  }

  .whitepaper-section .bottom form {
    display: flex;
    margin-left: 40px;
  }
  
  .whitepaper-section .bottom input {
    width: 387px;
    height: 39px;
    text-align: center;
    margin-bottom: 67px;
  }  

  .purple-bar {
    visibility: hidden;
  }

  .aboutus-section {
    display: block;
    margin-top: 0;
  }

  .aboutus-section .logo img {
    width: 280px;
    height: 80px;
    flex-shrink: 0;
    margin-left: 120px;
  }

  .fullscreensocial {
    visibility: hidden;
  }
  .smallscreensocial {
    visibility: visible;
  }

  .smallscreensocial ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    text-align: center;
    width: 208px;
    width: 768px;
    margin: 88px 160px;
  }

  .aboutus-section .right h1 {
    font-size: 18px;
  }

  .aboutus-section .right p {
    font-size: 11px;
    text-align: justify;
  }

  .joinus {
    font-size: 11px;
  }
}